.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    margin-bottom: 20px;
}

/* Estilos específicos para os detalhes da movimentação */
.movement-details {
    margin-top: 40px;
}
