.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    margin-bottom: 20px;
}

/* Estilos específicos para os detalhes do produto */
.product-details {
    margin-top: 40px;
}

.product-description {
    margin-bottom: 20px;
}

.product-price {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}
