.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    margin-bottom: 20px;
}

/* Estilos específicos para a lista de categorias */
.category-list {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.category-list li {
    margin-bottom: 10px;
}

.category-link {
    text-decoration: none;
    color: #007bff;
}

.category-link:hover {
    text-decoration: underline;
}
